@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
    background-color: #EDD263;
    font-family: 'Lato', sans-serif;
}

input#foodInput {
    font-size: 25px;
}

button#search {
    font-size: 25px;
}

.card {
    width: 300px;
    border-radius: 20px;
    margin: 12px;
    font-size: 15px;
}

.card h1 {
    font-size: 25px;
    padding: 15px 5px;
    text-align: center;
}

.card img {
    border-radius: 20px 20px 0px 0px;
}

#foods h2 {
    background-color: rgb(218, 142, 22);
    padding: 15px;
    border-radius: 5px;
}

#foodData {
    text-align: center;
    background-color: rgb(195, 186, 226);
    border-radius: 30px;
    display: none;
    margin-bottom: 39px;
}

.food-details img {
    height: 300px;
    border-radius: 30px;
}

.food-details h1 {
    padding: 5px;
    font-size: 30px;
}

.food-details h3 {
    padding: 3px;
    font-size: 25px;
    text-align: left;
}

.food-details {
    width: 70%;
    margin: 0 auto;
}

div#foodData {
    display: none;
}